
/*Header*/
header{
    padding: 0 150px 16px 150px;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}
ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 24px;
}
a{ 
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
}
span{
    font-size: 24px;
}
.header{
    display: flex;
    justify-content: space-between;
    gap: 48px;
}
.header-image{
    
   height: 200px; 
}
/*The favourites section*/
.info-sect{
    display: block;
    text-align: center;
    margin-bottom: 64px;
}
.card-conatiner{
    display: flex;
}
.card{
    width: 25%;
}
.card>img{
    width: 300px;
    height: 225px;
}
h2{
    color: #56042C;
    font-size: 36px;
    font-weight: 800;
}
/*My favourites*/
.hero-section{
    margin: -8px;
    padding: 24px 200px;
    display: flex;
    text-align: center;
   align-items: center;
   background-color: #e6b6fc;
   justify-content: center;
}
sub{
    font-size: 30px;
    font-weight: bold;

}
.hero-section>p{
    width: 880px;
    font-style: italic;
    font-size: 36px;
}
/*Information*/

/*footer*/
footer{
    display: flex;
    text-align: center;
    height: 36px;
    justify-content: center;
    height: 48px;
}
/*Colours*/
header, footer{
    background-color: #56042C;
    margin: -8px;
    color: #f9faf8;
}