/*Header*/
header{
    padding: 0 150px 16px 150px;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}
ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;
}
a{ 
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
}
span{
    font-size: 24px;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header-image{
    
   height: 200px; 
}
/*The favourites section*/
.info-sect{
    display: block;
    text-align: center;
}
.card-conatiner{
    display: flex;
}
.card>img{
    width: 300px;
}
/*My favourites*/
.hero-section{
    padding: 0 200px;
    display: flex;
    text-align: center;
   align-items: center;
}
sub{
    font-size: 24px;
}
/*Information*/

/*footer*/
footer{
    text-align: center;
    height: 36px;
}
/*Colours*/
header, footer{
    background-color: #56042C;
    margin: -8px;
    color: #f9faf8;
}